input {
	max-width: 280px;
}

.number-input{
	width: 50%;
}

.player-name{
	display: inline-block;
	min-width: 180px;
}

li > div{
	float: none !important;
	display: inline-block;
}
.hidden{
	display: none;
}

.btn{
	margin: 0.5em;
}

label{
	display: block;
}

li p {
	display: inline-block;
}
li{
	line-height: 32px;
}

ol li:nth-child(odd) { background: lightsteelblue; }

.report-field{
	width: 50%;
	/*overflow: hidden;*/
}

.list-game{
	/*overflow: hidden;*/
}

.navbar{
	margin-bottom: 0;
}
label:hover:after { 
	content: attr(data-title);
	position: absolute;
	display: block;
	font-size: 0.82em;
	width: 200%;
	overflow: visible;
	z-index: 1;
	line-height: 1em;
	background: silver;

	white-space:pre;

 }