input {
	max-width: 280px;
}

.player-name{
	display: inline-block;
	min-width: 180px;
}

.hidden{
	display: none;
}

label{
	display: block;
}

ol li:nth-child(odd) { background: lightsteelblue; }

.report-field{
	width: 50%;
	overflow: hidden;
}

.list-game{
	overflow: hidden;
	margin-top: -1em;
}